<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/page-layout.css">
    <link rel="stylesheet" href="/grid-layout.css">
</head>

<body>
    <%- include("../../partials/header.ejs")%>
        <form action="/user/<%= userID %>/goals/edit" method="post">
            <main>
                <div class="grid-item">
                    <div class="subpart">
                        <label for="startGoal">What made you want to start working out?</label>
                    </div>
                    <div>
                        <textarea id="startGoal" name="startGoal" rows="5" required><%= user.startGoal %></textarea>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="subpart">
                        <label for="strengthGoal">What are some strength goals you have?</label>
                    </div>
                    <div>
                        <textarea id="strengthGoal" name="strengthGoal" rows="5"
                            required><%= user.strengthGoal %></textarea>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="subpart">
                        <label for="healthGoal">What are some health goals you have?</label>
                    </div>
                    <div>
                        <textarea id="healthGoal" name="healthGoal" rows="5" required><%= user.healthGoal %></textarea>
                    </div>
                </div>
            </main>
            <button type="submit">Submit</button>
        </form>
</body>

</html>